body {
    background: #efefef url(images/frr.png); margin: 0;
    padding: 0;
    font: 16px/24px Arial, Tahoma, sans-serif; color:#272727;
}
/*Структура сайта*/
div.mid {
    width: 80%; 
    margin: 0 auto;
    height: 150px;
}
div.header {
    background-color: aqua;
    width: 100%;
}
main>div {

}
footer>div {
    background-color: chartreuse;
    height: 150px;
}
/*Шапка сайта*/
.decorationplus {
    height: auto;
    float: left;
    width: 50%;
    position: relative;
    
}


div.topmenu {
    float: left;
    text-align: center;
    position: relative;
    width: 50%;
    
}
div.topmenu  a{
    margin: 0 0 0 10px; color: #1683a3;
    text-decoration: none;
}
div.topmenu a:hover{
    color: #fff;
 /*Псевдокласс, цвет наводящего меню*/

}


#infodecor {
    background-color: burlywood;
    height: 150px;
}
.banner {
    background-color: darkorange;
    height: 150px; 
}
#bannertext {
    text-align: center;
}
#bannettime {
    width: 50%;
}
div.wrapper {
    width: 100%;
    height: 150px;
    background-color: aqua;
}
.s1 {
    background-color: green;
    float: left;
    width: 15%;
    height: 100%;
}
.s2 {
    background-color: deeppink;
    width: 50%;
    float: left;
    height: 100%;
}
.s3 {
    background-color: darkmagenta;
    float: left;
    width: 35%;
    height: 100%;
}
div.gallery {
    background-color: yellow;
    height: 150px;
}
.contact {
    width: 40px;
    height: 150px;
}
#SkypeButton {
    width: 24px;
    height: 24px;
}

#vk {
    width: 24px;
    height: 24px;

}
#Twitter {
    width: 24px;
    height: 24px;
}
/*Адаптивный дизайн*/
@media screen and (max-width: 999px) {
	div.mid {min-width: 600px; }
    div.banner {min-width: 600px}

}
@media screen and (max-width: 60%){
	div.header {text-align: center; 
}