body {
    background: #efefef; margin: 0;
    padding: 0;
    font: 16px/24px Arial, Tahoma, sans-serif; color:#272727;
}
/*Структура сайта*/
div.mid {
    width: 80%; 
    margin: 0 auto;
    height: 150px;
    background-color: #efefef;
}
div.header {
    background-color: #efefef;
    width: 100%;
    
}
main>div {
background-color: #efefef;
}
footer>div {
    background-color: chartreuse;
    height: 150px;
}
/*Шапка сайта*/
.decorationplus {
    height: auto;
    float: left;
    width: 50%;
    position: relative;
    
}


div.topmenu {
    float: left;
    text-align: center;
    position: relative;
    width: 50%;
    
}
div.topmenu  a{
    margin: 0 0 0 10px; color: #2d2d2d;
    text-decoration: none;
}
div.topmenu a:hover{
    color: #afb1b5;
 /*Псевдокласс, цвет наводящего меню*/

}


.infodecor {
    background-color: #efefef;
    text-align: left;
    margin: auto;
}

.banner {
    background-color: #efefef;
    height: 150px; 
}
#bannertext {
    text-align: center;
}
#bannettime {
    width: 50%;
}

/*Услуги*/
div>h2 {
    width: 1000px;
    text-align: center;

    margin: auto;
}
#about {
    width: 1000px;
    text-align: center;
    margin-bottom: 20px;
}
#decor {
    width: 1000px;
    text-align: left;
    margin: auto;
    padding-bottom: 20px;

    text-indent: 1.5em; /* Отступ первой строки */
    text-align: justify; /* Выравнивание по ширине */
}
.WrapperTable {
    width: 100%;
}
/*НАЧАЛО TABLE*/
table {

    margin: auto; 
}
tr {
    display: table-row;
    vertical-align: inherit;
    border-color: inherit;
}
tbody tr td {
    border-bottom: 1px solid #e5e5e5;
    padding: 10px;
}
tbody {
    display: table-row-group;
    vertical-align: middle;
    border-color: inherit;
}
div {
    display: block;
}

.wk-gallery-wall.margin {
    margin: 0 -15px -15px 0;
}
/*КОНЕЦ TABLE*/
div.gallery {
    background-color: yellow;
    height: 150px;
}
.contact {
    width: 40px;
    height: 150px;
}
#SkypeButton {
    width: 24px;
    height: 24px;
}

#vk {
    width: 24px;
    height: 24px;

}
#Twitter {
    width: 24px;
    height: 24px;
}
/*Адаптивный дизайн*/
@media screen and (max-width: 999px) {
	div.mid {min-width: 600px; }
    div.banner {min-width: 600px}
    div.infodecor {min-width: 600px}

}
@media screen and (max-width: 60%){
	div.header {text-align: center; 
}